.droplocations {
    background: #fbfbfb;
    position  : absolute;
    width     : 93%;
    max-height: 113px;
    overflow  : auto;
    display   : block;
    z-index: 1;
}

.droplocations li {
    display   : block;
    padding   : 10px 15px;
    color     : #000;
    font-size : 14px;
    box-shadow: 0px 0px 1px 0px #8c8c8c;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-infix {
    border: 1px solid #86a4c3;
    padding: 0px;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: white !important;
    padding: 0 !important;
}
.control:disabled, .control[readonly] {
    background-color: #e9ecef;
    opacity: 1;
}        
.mat-option {
    text-align: left;
    text-transform: capitalize;
}