<div class="text-center" style="margin-bottom: 10px;" *ngIf="voucherData">
    <a [routerLink]="['/booking/approval']" [queryParams]="{ sector: 'hotels' }"><button
        class="text-white btn btn-sm btn-primary m-1">Back</button></a>&nbsp;&nbsp;
    <a (click)="downloadA4('pdf', 'potrait')"><button
        class="text-white btn btn-sm btn-primary m-1">Download</button></a>&nbsp;&nbsp;
  </div>
  <div style="background:#fff; width:100%; position:relative;" *ngIf="voucherData">
    <div style="background:none; max-width: 950px; margin: 0px auto; padding:20px; width:100%; position:relative;">
      <div class="printformClass" style=" -webkit-print-color-adjust: exact;" id="print_voucher" #print_voucher>
        <table id="print_voucher" class="table" cellpadding="0" cellspacing="0" width="100%"
          style="font-size:12px;  border-radius: 5px; margin:10px auto;background-color:#eee;     border: 1px solid #ddd; padding:20px;border-collapse:separate; color: #000;"
          #print_voucher>
          <tbody style="background-color:#eee; -webkit-print-color-adjust: exact;">
            <tr style="background-color:#eee; -webkit-print-color-adjust: exact;">
              <td style="border-collapse: collapse; padding:0px; background-color:#eee; -webkit-print-color-adjust: exact;">
                <table width="100%" style="border-collapse: collapse; background-color: transparent;" cellpadding="0" cellspacing="0" border="0">
                  <tbody>
                    <tr>
                      <td style="padding: 0px; background-color: transparent;">
                        <table cellpadding="0" cellspacing="0" border="0" width="100%" style="border-collapse: collapse; background-color: transparent;">
                          <tbody style="background-color:#eee; -webkit-print-color-adjust: exact;">
                            <tr>
                              <td style="background-color:#eee; -webkit-print-color-adjust: exact;">
                                <table width="100%" style="border-collapse: collapse; background-color: transparent; background: none;" cellpadding="0" cellspacing="0"
                                  border="0">
                                  <tbody style="background-color:#eee; -webkit-print-color-adjust: exact;">
                                    <tr>
                                      <td style="padding: 0px; background-color: transparent; background: none;">
                                        <img  src="assets/images/login-images/l-logo.png" style="width:170px; height: 42px;">
                                      </td>
                                      <td style="padding: 0px; vertical-align: top; background-color: transparent; background: none;">
                                        <table class="booking_id" width="100%"
                                          style="font-size:13px; border-collapse: collapse;text-align: right; line-height:15px;"
                                          cellpadding="0" cellspacing="0" border="0">
                                          <tbody>
                                            <tr>
                                              <td style="padding-bottom:10px;line-height:26px; font-size: 15px;"
                                                align="right" class="bookng_dtls">
                                                <span *ngIf="voucherData['BookingDetails']['Status']=='BOOKING_CONFIRMED'">
                                                  <strong>Booking ID: </strong> <span
                                                    *ngIf="voucherData?.BookingDetails">{{voucherData['BookingDetails']['ConfirmationReference'] || 'N/A'}}</span><br>
                                                  </span>
                                                <ng-container *ngIf="voucherData?.BookingDetails?.DomainOrigin">
                                                    <span>
                                                        <strong>Invoice No:</strong> <span>{{voucherData?.BookingDetails?.DomainOrigin || 'N/A'
                                                            }}</span>
                                                    </span>
                                                    <br />
                                                </ng-container>
                                                <span>
                                                  <strong>Booking Reference:</strong> <span
                                                    *ngIf="voucherData?.BookingDetails">{{voucherData['BookingDetails']['request_id']}}</span>
                                                </span>
                                                <br>
                                                <span *ngIf="voucherData?.BookingDetails?.booking_confirmation_date">
                                                  <strong>Booked on: </strong> <span
                                                    *ngIf="voucherData?.BookingDetails">{{voucherData['BookingDetails']['booking_confirmation_date']
                                                    | date: 'dd MMM yyyy' }},
                                                    {{voucherData['BookingDetails']['booking_confirmation_date']
                                                    | date: 'h:mm
                                                    a'}}</span> <br></span>
                                                <span>
                                                    <strong>Booking Status: </strong> <span
                                                        *ngIf="voucherData?.BookingDetails">{{voucherData['BookingDetails']['Status']
                                                        | map: getFormtedStatus}}</span>
                                                </span>
                                                <ng-container *ngIf="voucherData?.BookingDetails?.trip_id && voucherData?.BookingDetails?.trip_name">
                                                    <br>
                                                    <span>
                                                        <strong>Trip Id: </strong> <span *ngIf="voucherData?.BookingDetails">{{voucherData?.BookingDetails?.trip_id
                                                            ||'N/A'
                                                            }}</span>
                                                    </span>
                                                    <br>
                                                    <span>
                                                        <strong>Trip Name: </strong> <span *ngIf="voucherData?.BookingDetails">{{voucherData?.BookingDetails?.trip_name
                                                            ||'N/A'
                                                            }}</span>
                                                    </span>
                                                    <br>
                                                </ng-container>
                                                </td>
                                            </tr>
                                          </tbody>
                                        </table>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                            <tr>
                              <td style="line-height:12px;">&nbsp;</td>
                            </tr>
                            <tr>
                              <td style="padding:0px; background-color: #fff; border-radius: 15px; overflow: hidden;">
                                <table width="100%" cellpadding="6" style="padding: 10px;font-size: 13px;padding:5px;">
                                  <tbody>
                                    <tr class="htl_dscrptn">
                                      <td style="padding:0px 0; width:30%;" *ngIf="voucherData?.BookingDetails && isDcbBooking">
                                        <img class="htl_img1" style="width:250px; height: 250px;"
                                            *ngIf="voucherData?.BookingDetails?.MainImage!=''"
                                            src="{{voucherData?.BookingDetails?.MainImage}}">
                                        <img class="htl_img1" style="width:250px; height: 250px;"
                                            *ngIf="voucherData?.BookingDetails?.MainImage==''"
                                            src="./assets/images/no_image.png">   </td>
                                      <td valign="top" class="htl_dtl" style="padding:20px; width:100%;"
                                        *ngIf="voucherData?.BookingDetails">
                                        <span class="htl_nm"
                                          style="line-height:30px;font-size:25px;color:#000;vertical-align:middle;font-weight: 600;">{{voucherData['BookingDetails']['HotelName']}}</span>
                                        <br>
                                        <img style="width:70px; margin-top: 4px;"
                                          src="./assets/images/star_rating_black_{{voucherData['BookingDetails']['StarRating']}}.png">
                                        <br>
                                        <span style="display: block;line-height:18px; color:#777E90; font-size: 16px; margin-top: 10px;"
                                          class="htl_addrs">{{voucherData?.BookingDetails?.HotelAddress}}</span>
                                        <table style="width:100%; margin-top:20px; margin-bottom: 15px;">
                                          <tbody>
                                            <tr>
                                              <td style="color:#777E90; width: 33.333%;">
                                                <span style="font-size:17px;">Check In</span>
                                                <br>
                                                <span class="chck_n_o" style="color:#065081 font-size: 16px; font-weight:600;">
                                                    {{voucherData['BookingDetails']['HotelCheckOut']
                                                    | date: 'dd MMM yyyy'}}
                                                    <ng-container *ngIf="voucherData['BookingDetails']['CheckoutTime']">
                                                        , {{voucherData['BookingDetails']['CheckoutTime']
                                                        }}
                                                    </ng-container>
                                                </span>
                                              </td>
                                              <td style="width: 33.333%; text-align: center;">
                                                <span style="background: #fff;
        padding: 6px 30px;
        border-radius: 30px; font-size: 18px;
        border: 1px solid #065081
        color: #000;" class="htl_nights"> {{voucherData?.BookingDetails?.NoOfNights}} Nights</span>
                                              </td>
                                              <td style="color:#777E90; width: 33.333%; text-align:right;">
                                                <span style="font-size:17px;">Check Out</span>
                                                <br>
                                                <span class="chck_n_o"
                                                style="color:#065081 font-size: 16px; font-weight:600;">
                                                {{voucherData['BookingDetails']['HotelCheckIn']
                                                |  date: 'dd MMM yyyy'}}
                                                <ng-container *ngIf="voucherData['BookingDetails']['CheckinTime']">
                                                    , {{voucherData['BookingDetails']['CheckinTime']
                                                    }}
                                                </ng-container>
                                            </span>
                                              </td>
                                            </tr>
                                          </tbody>
                                        </table>
                                        <table style="width: 100%;">
                                          <tbody>
                                            <tr>
                                              <td colspan="3" style="line-height:12px; border-top: 1px dashed #B1B5C3;">
                                                &nbsp;</td>
                                            </tr>
                                            <tr style="color: #000; font-size: 18px;">
                                              <td>
                                                <img style="width:30px;" class="htl_room_img"
                                                  src="assets/images/room.png">{{voucherData?.BookingDetails?.NoOfRooms}} Room{{(voucherData?.BookingDetails?.NoOfRooms>1) ? 's' : ''}}
                                              </td>
                                              <td align="center">
                                                <img style="width:17px;" class="htl_adult_img"
                                                  src="assets/images/adult.png">
                                                  {{noOfAdults}} Adult{{ (noOfAdults>1) ? 's' : ''}}
                                              </td>
                                              <td align="right">
                                                <img style="width:22px;" class="htl_adult_img"
                                                  src="assets/images/child.png">
                                                  {{noOfChilds}} Child{{(noOfChilds>1) ? 's' : ''}}
                                              </td>
                                            </tr>
                                          </tbody>
                                        </table>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                            <tr>
                              <td style="line-height:12px;">&nbsp;</td>
                            </tr>
                            <tr>
                              <td colspan="" style="border-radius: 7px;
        overflow: hidden;
        ">
                                <table style="width:100%; font-size:14px;">
                                  <tbody>
                                    <tr *ngIf="voucherData?.BookingItineraryDetails && voucherData?.BookingItineraryDetails.length>0">
                                      <td colspan="6" style="
                         padding: 12px 15px;
                         border-bottom: 1px dashed #B1B5C3; background-color: #fff;
                         color: #000;">
                                        <span class="room_sumry"
                                          style="font-size:20px; font-weight:600;color:#000;vertical-align:middle;">Room
                                          Summary</span>
                                      </td>
                                    </tr>
                                    <ng-container
                                      *ngFor="let r of voucherData?.BookingItineraryDetails; index as i; last as isLast">
                                      <tr style="border-bottom:1px solid #ECF2FF;" class="room_sumry_dtl">
                                        <td colspan="6" class="room_list"
                                          style="padding:9px 15px; background-color: #e3f1fc; -webkit-print-color-adjust: exact; font-size: 15px; width: 100%; font-weight: 600;">
                                          Room {{i+1}}</td>
                                      </tr>
                                      <tr style="border-bottom:1px solid #ECF2FF;  background-color: #fff;"
                                        class="room_sumry_dtl">
                                        <td style="padding:9px 15px; font-size: 15px; width: 25%;">
                                          <strong>Room Type</strong>
  
                                        </td>
                                        <td style="padding:9px 15px; font-size: 15px; width:30%;">
                                          <strong>Meal Type</strong>
                                        </td>
                                        <!-- <td style="padding:9px 15px; font-size: 15px; width:30%;text-transform: capitalize;">
                                            <strong>Room Occupancy
                                            </strong>
                                          </td> -->
                                          <ng-container *ngIf="isDcbBooking">
                                        <td style="padding:9px 15px; font-size: 15px; width:20%;">
                                          <strong>Room Price</strong>
                                        </td>
                                        <td style="padding:9px 15px; font-size: 15px; width:20%;">
                                          <strong>Tax(%)</strong>
                                        </td>
                                        <td style="padding:9px 15px; font-size: 15px; width:20%;">
                                          <strong>Total</strong>
                                        </td> 
                                          </ng-container>
                                      </tr>
                                      <tr *ngIf="voucherData?.BookingItineraryDetails" style="font-size:15px; background-color: #fff;"
                                        class="gst_dtl_contnt">
                                   
                                        <td style="padding: 9px 15px; border-bottom: 1px dashed #bebcb8; color: #343a40;">
                                          {{ r.RoomTypeName || 'N/A' }}</td>
                                        <td style="padding: 9px 15px; border-bottom: 1px dashed #bebcb8; color: #343a40;">
                                            {{ voucherData.BookingDetails?.PaymentMode || 'N/A' }}
                                      </td>
                                      <!-- <td style="padding: 9px 15px; border-bottom: 1px dashed #bebcb8; color: #343a40;">
                                        {{ r?.VoucherOccupancy || 'N/A' }}</td> -->
                                    <ng-container *ngIf="isDcbBooking">
                                        <td style="padding: 9px 15px; border-bottom: 1px dashed #bebcb8; color: #343a40;">
                                            {{ r.RoomPrice | number : '1.2-2'}} </td>
                                        <td style="padding: 9px 15px; border-bottom: 1px dashed #bebcb8; color: #343a40;">
                                            {{ (r.Tax | number : '1.2-2') || 0}} </td>
                                        <td style="padding: 9px 15px; border-bottom: 1px dashed #bebcb8; color: #343a40;">
                                            {{ (r.TotalFare | number : '1.2-2') || 0}}</td>
                                    </ng-container>
                                      </tr>
                                    </ng-container>
                                    <tr>
                                      <td style="line-height:12px;">&nbsp;</td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                            <tr>
                              <td style="border-radius: 7px;
        overflow: hidden;
        background: #fff;">
                                <table style="width:100%;">
                                  <tbody>
                                    <tr>
                                      <td style="background-color: #fff;
        padding: 9px 15px;
        border-bottom: 1px dashed #B1B5C3;
        color: #000;">
                                        <span class="gst_dtl"
                                          style="font-size:20px; font-weight:600;color:#000;vertical-align:middle;">Guest(s)
                                          Details</span>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td width="100%" style="padding:0px;">
                                        <table width="100%" cellpadding="5" style="padding: 10px;font-size: 15px;"
                                          class="gst_dtl_ctn">
                                          <tbody>
                                            <tr>
                                              <td
                                                style="background-color:#fff;padding:9px 15px;color: #353945; font-weight: 600;">
                                                <b>Sl No.</b>
                                              </td>
                                              <td
                                                style="background-color:#fff;padding:9px 15px;color: #353945; font-weight: 600;">
                                                <b>Name</b>
                                              </td>
                                              <td
                                              style="background-color:#fff;padding:9px 15px;color: #353945; font-weight: 600;">
                                              <b>Band</b>
                                            </td>
                                              <td *ngIf="isDcbBooking"
                                                style="background-color:#fff;padding:9px 15px;color: #353945; font-weight: 600;">
                                                <b>Pax Type</b>
                                              </td>
                                              <!-- <td style="padding: 9px 15px; color: #353945; ">
                                                <b>Date Of Birth</b>
                                              </td> -->
                                            </tr>
                                            <tr style="font-size:15px;" *ngFor="let t of voucherData?.BookingPaxDetails; index as i" class="gst_dtl_contnt">
                                              <td
                                                style="padding: 9px 15px; border-bottom: 1px dashed #bebcb8; color: #343a40;">
                                                {{i+1}}</td>
                                              <td  *ngIf="i < voucherData['BookingPaxDetails'].length ? true : false"
                                                style="padding: 9px 15px; border-bottom: 1px dashed #bebcb8; color: #343a40;">
                                                {{t?.Title +' '+ t?.FirstName +' '+ t?.LastName }} </td>
  <td
                                                style="padding: 9px 15px; border-bottom: 1px dashed #bebcb8; color: #343a40;">
                                                {{t?.EmployeeBand || 'N/A'}}</td>
                                                
                                              <td *ngIf="isDcbBooking && i < voucherData['BookingPaxDetails'].length? true : false"
                                                style="padding: 9px 15px; border-bottom: 1px dashed #bebcb8; color: #343a40;">
                                                {{t.PaxType || 'N/A' }} </td>
                                             
                                              <!-- <td
                                                style="padding: 9px 15px; border-bottom: 1px dashed #bebcb8; color: #343a40;">
                                                {{t.DateOfBirth | date: 'dd MMM yyyy'}} </td> -->
                                            </tr>
                                          </tbody>
                                        </table>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                        
                            <tr>
                              <td style="line-height:12px;">&nbsp;</td>
                            </tr>
                            <tr>
                              <td colspan="4" style=" padding:0; border-radius:7px; overflow: hidden; background: #fff;">
                                <table cellspacing="0" cellpadding="5" width="100%" style="font-size:12px; padding:0;">
                                  <tbody>
                                    <tr>
                                      <td colspan="4"
                                        style="background-color:#fff; padding: 9px 15px; border-bottom: 1px dashed #B1B5C3; color:#000;">
                                        <span class="customer_contact_details"
                                          style="vertical-align:middle;font-size:20px; font-weight:600;">Contact
                                          Details</span>
                                      </td>
                                    </tr>
                                    <tr style="font-size:15px;" class="cstmr_email_cnt">
                                      <td
                                        style="background-color:#fff; font-weight: 600; padding:10px 15px; color:#555555">
                                        <span>
                                          <strong>E-mail</strong>
                                        </span>
                                      </td>
                                      <td
                                        style="background-color:#fff; font-weight: 600; padding:10px 15px; color:#555555">
                                        <span>
                                          <strong>Contact No</strong>
                                        </span>
                                      </td>
                                    </tr>
                                    <tr style="color:#000; font-size:15px;" *ngIf="voucherData?.BookingPaxDetails" class="cstmr_email_cnt">
                                      <td style="padding:10px 15px;">
                                        <span> {{voucherData.BookingDetails.Email }} </span>
                                      </td>
                                      <td style="padding:10px 15px;">
                                        <span> {{voucherData.BookingDetails?.PhoneNumber}} </span>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                            <tr>
                              <td colspan="4" style="line-height:12px;">&nbsp;</td>
                            </tr>
  
                            <tr *ngIf="isDcbBooking">
                              <td colspan="4" style="padding:0;border-radius: 5px;">
                                <table cellspacing="0" cellpadding="5" width="100%" style="font-size:13px; padding:0;">
                                  <tbody>
                                    <tr>
                                      <td width="100%" style="padding:0;border-radius: 5px;">
                                        <table cellspacing="0" cellpadding="7" width="100%" style="font-size:14px; padding:0; border-radius: 5px; overflow: hidden;">
                                          <tbody>
  
                                            <tr>
                                              <td 
                                                style="background-color:#fff; padding: 9px 15px; border-bottom: 1px dashed #B1B5C3; color:#000;">
                                                <span class="customer_contact_details"
                                                  style="vertical-align:middle;font-size:20px; font-weight:600;">Fare
                                                  Details</span> </td>
  
                                                  <td  *ngIf="voucherData?.BookingItineraryDetails"
                                                style="background-color:#fff; padding: 9px 15px; border-bottom: 1px dashed #B1B5C3; color:#000;">
                                                <span class="customer_contact_details"
                                                  style="vertical-align:middle;font-size:20px; font-weight:600;">Amount</span> </td>
                                            </tr>
  
                                      
                                            <tr style="background-color: #fff;" *ngIf="voucherData?.BookingDetails">
                                              <td style="padding:7px 15px;"><span style="padding-left:5px;">Base
                                                  Fare</span>
                                              </td>
                                              <td style="padding:7px 15px;"><span style="padding-left:5px;">{{voucherData?.BookingDetails?.Currency + ' ' + (getTotalAmount() | number : '1.2-2') }}</span>
                                              </td>
                                            </tr>
                                            <tr style="background-color: #fff;" *ngIf="voucherData?.BookingDetails">
                                              <td style="padding:7px 15px;"><span style="padding-left:5px;">Taxes</span>
                                              </td>
                                              <td style="padding:7px 15px;"><span style="padding-left:5px;">{{voucherData?.BookingDetails?.Currency + ' ' + ( getTotalTax() | number : '1.2-2') }}</span>
                                              </td>
                                            </tr>
                                            <tr style="background-color: #fff;" *ngIf="voucherData?.BookingDetails">
                                              <td style="padding:7px 15px;"><span style="padding-left:5px;">Discount</span>
                                              </td>
                                              <td style="padding:7px 15px;"><span style="padding-left:5px;">{{voucherData?.BookingDetails?.Currency}} 0</span>
                                              </td>
                                            </tr>
                                            
                                            <tr style="background-color: #fff;">
                                              <td style="border-top:1px solid #ccc; padding:7px 15px;"><span style="font-size:18px; padding-left: 5px;">Total
                                                  Fare</span>
                                              </td>
                                              <td style="border-top:1px solid #ccc; padding:7px 15px;" *ngIf="voucherData?.BookingItineraryDetails">
                                                <span style="font-size:18px; font-weight: bold; padding-left: 5px;">
                                                  {{voucherData?.BookingDetails?.Currency}} {{voucherData?.BookingDetails?.TotalFair | number : '1.2-2'}}
                                                </span>
                                              </td>
                                            </tr>
                                          </tbody>
                                        </table>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td style="line-height:15px;padding:0;">&nbsp;</td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                            <tr *ngIf="searchData.Price.Amount!=voucherData?.BookingDetails?.TotalFair">
                              <td colspan="4" style="padding:0;border-radius: 5px;">
                                <table cellspacing="0" cellpadding="5" width="100%" style="font-size:13px; padding:0;">
                                  <tbody>
                                    <tr>
                                      <td width="100%" style="padding:0;border-radius: 5px;">
                                        <table cellspacing="0" cellpadding="7" width="100%" style="font-size:14px; padding:0; border-radius: 5px; overflow: hidden;">
                                          <tbody>
  
                                            <tr>
                                              <td 
                                                style="background-color:#fff; padding: 9px 15px; border-bottom: 1px dashed #B1B5C3; color:#000;">
                                                <span class="customer_contact_details"
                                                  style="vertical-align:middle;font-size:20px; font-weight:600;">Updated Fare
                                                  Details</span> </td>
  
                                                  <td  *ngIf="searchData?.Price"
                                                style="background-color:#fff; padding: 9px 15px; border-bottom: 1px dashed #B1B5C3; color:#000;">
                                                <span class="customer_contact_details"
                                                  style="vertical-align:middle;font-size:20px; font-weight:600;">Amount</span> </td>
                                            </tr>
  
                                      
                                            <tr style="background-color: #fff;" *ngIf="searchData?.Price">
                                              <td style="padding:7px 15px;"><span style="padding-left:5px;">Base
                                                  Fare</span>
                                              </td>
                                              <td style="padding:7px 15px;"><span style="padding-left:5px;">{{searchData?.Price?.Currency + ' ' + (getTotalBaseAmount() | number : '1.2-2') }}</span>
                                              </td>
                                            </tr>
                                            <tr style="background-color: #fff;" *ngIf="searchData?.Price">
                                              <td style="padding:7px 15px;"><span style="padding-left:5px;">Taxes</span>
                                              </td>
                                              <td style="padding:7px 15px;"><span style="padding-left:5px;">{{searchData?.Price?.Currency + ' ' + ( getTotalTaxAmount() | number : '1.2-2') }}</span>
                                              </td>
                                            </tr>
                                            <tr style="background-color: #fff;" *ngIf="searchData?.Price">
                                              <td style="padding:7px 15px;"><span style="padding-left:5px;">Discount</span>
                                              </td>
                                              <td style="padding:7px 15px;"><span style="padding-left:5px;">{{searchData?.BookingDetails?.Currency}} 0</span>
                                              </td>
                                            </tr>
                                            
                                            <tr style="background-color: #fff;">
                                              <td style="border-top:1px solid #ccc; padding:7px 15px;"><span style="font-size:18px; padding-left: 5px;">Total
                                                  Fare</span>
                                              </td>
                                              <td style="border-top:1px solid #ccc; padding:7px 15px;" *ngIf="searchData?.Price">
                                                <span style="font-size:18px; font-weight: bold; padding-left: 5px;">
                                                  {{searchData?.Price?.Currency}} {{searchData?.Price?.Amount | number : '1.2-2'}}
                                                </span>
                                              </td>
                                            </tr>
                                          </tbody>
                                        </table>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td style="line-height:15px;padding:0;">&nbsp;</td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                            <ng-container *ngIf="voucherData?.BookingDetails?.Remarks && isDcbBooking">
                              <tr>
                                  <td style="line-height:12px;">&nbsp;</td>
                              </tr>
                              <tr>
                                  <td colspan="4">
                                      <span style="line-height:26px;font-size: 17px;font-weight: 600;" class="cancel_plcy">Remarks:</span>
                                  </td>
                              </tr>
                              <tr>
                                  <td colspan="4" style="line-height:20px; font-size:14px; color:#555" class="cncl_plcy_dtl">
                                      {{voucherData?.BookingDetails?.Remarks}}
                                  </td>
                              </tr>
                          </ng-container>
  
                          <tr>
                              <td style="line-height:12px;">&nbsp;</td>
                            </tr>
                            <ng-container *ngIf="isDcbBooking">
                            <tr>
                              <td colspan="4">
                                <span style="line-height:26px;font-size: 17px;font-weight: 600;" class="trm_cndt">Cancellation Policy</span>
                              </td>
                            </tr>
                            <tr>
                              <td colspan="4" class="lylt_cr"
                                style="line-height:30px; padding-bottom:15px; font-size:14px; color:#555">
                                <span class="ml-0" [innerHTML]="getCancelationPolicy(voucherData?.BookingItineraryDetails[0]?.CancellationPolicy)">
                              </span>
                              </td>
                            </tr>
                            <tr>
                              <td>&nbsp;</td>
                            </tr>
                            <tr>
                              <td class="text-center">
                                <button  class="text-white btn btn-sm btn-primary m-1" (click)="validatePolicy()">Proceed To Confirm</button>
                                </td>
                            </tr>
                           </ng-container>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  
  <div class = "centered" *ngIf="loading">
    <div class = "blob-1"></div>
    <div class = "blob-2"></div>
  </div>

  <ngx-loading [show]="loader"
    [config]="{primaryColour: '#fff', secondaryColour: '#ccc', tertiaryColour: '#fff', backdropBorderRadius: '3px',fullScreenBackdrop:true}"
    [template]="loadingTemplate"></ngx-loading>
  
