
.grid-container {
    display: grid;
    // justify-content: center;
    grid-template-columns: auto auto auto auto auto;
}
.grid-item {
    text-align: center;
}
.fa-cloud-sun {
    color: #001d46;
}
.fa-sun {
    color: #001d46;
}
.fa-cloud-moon {
    color: #001d46;
}
.htlcount{
    float: none !important;
    text-align: center !important;
    color:#001D46 !important;
    padding: 2px 2px !important;
    font-size: x-small !important;
    font-weight: 600 !important;
}
.starin{
    float: none;
}
::ng-deep  .mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: #252c40;
}

label.lbllbl { font-size: 14px !important;}
.squaredThree label { left: 1px !important;}

.collapsebtn {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    border-top: 1px solid #cbcbcb; //chakri styles
    color: #1d1d1d;
    display: block;
    font-size: 16px;
    font-weight: 400;
    overflow: hidden;
    padding: 12px 0;
    position: relative;
    text-align: left;
    width: 100%;
}

.collapsebtn::after {
    content: "\f078";
    color: #1d1d1d;
    font-family: "FontAwesome";
    font-size: 14px;
    line-height: 34px;
    position: absolute;
    right: 2px;
    top: 5px;
    font-weight: 100;
}
.rangebox {
    // padding: 12px;
    background: #ffffff;
    float: left;
    width: 100%;
    // border-radius: 8px;
    // margin-bottom: 10px;
}
::ng-deep .mat-checkbox-frame{border-color: #333;}
.cusromGrey{color: #333;}