
.srch_btn {
    background: #065081;
    border-radius: 5px !important;
    width: 183px;
    height: 50px !important;
    color: #fff;
    transition: 0.3s;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
}
.emil{padding-left: 2.2rem!important;}
.icon{margin-top: 40px!important;}