<div class="sub-agent-container custom-table-layout card" style="padding: 20px">
  <div class="add-traveller">
    <div class="custom-inline-form">
      <div class="col-md-12 mb-2 p-0 required cust-radio-group">
        <div class="col-sm-12 mt-2 p-0 d-flex align-items-center">
          <div class="col-auto p-0">
            <label for="airportdetails">
              <input
                type="radio"
                id="airportdetails"
                (change)="
                  showDiv.Details = !showDiv.Details; showDiv.Csv = false
                "
                name="coursedetails"
                checked
                type="radio"
              />
              <span class="design"></span>
              <span class="text" style="margin-left: 4px">Course Details</span>
            </label>
          </div>
          <div class="col-auto"><label>/</label></div>
          <div class="col-auto p-0">
            <label for="csvupload">
              <input
                type="radio"
                id="csvupload"
                (change)="showDiv.Csv = !showDiv.Csv; showDiv.Details = false"
                name="coursedetails"
                type="radio"
              />
              <span class="design"></span>
              <span class="text" style="margin-left: 4px">CSV File Upload</span>
            </label>
          </div>
        </div>
      </div>

      <div class="col-md-12 p-0" *ngIf="showDiv.Details">
        <form class="" [formGroup]="courseForm" autocomplete="off">
          <div class="title pl-30">
            <h3>Course Details</h3>
          </div>
          <div class="col-md-4 mb-2 p-0 required pl-0">
            <label
              for="select_course "
              class="required"
              class="pl-0 col-sm-12 col-form-label font-weight-bold labelAlign"
              >Select Course <sup class="text-danger f-16"> * </sup>
            </label>
            <div class="col-sm-12 pl-0">
              <select
                formControlName="select_course"
                class="form-control"
                id="select_course"
              >
                <option [value]="''" selected disabled>Please Select</option>
                <option *ngFor="let item of respData" [value]="item?.course_type_name">
                  {{ item?.course_type_name }}
                </option>
              </select>
            </div>
          </div>
                <div class="col-md-4 mb-2 p-0 required">
            <label
              for="course_name "
              class="required"
              class="col-sm-12 col-form-label font-weight-bold labelAlign pl-0"
              >Course Name
            </label>
            <div class="col-sm-12 pl-0">
              <input
                type="text"
                class="form-control"
                id="course_name"
                formControlName="course_name"
                placeholder="Course Name"
              />
            </div>
          </div>
          <div class="btn-group">
            <div class="form-group required row">
              <div class="col-12 d-flex">
                <button
                  type="submit"
                  class="btn-sm btn-primary lg mr-4 sec-col"
                  (click)="onSubmit()"
                >
                  Save
                </button>
                <button
                  type="reset"
                  class="btn btn-sm btn-primary lg"
                  (click)="onReset()"
                >
                  Reset
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-12 p-0" *ngIf="showDiv.Csv">
        <form class="" [formGroup]="fileUploadForm" autocomplete="off">
          <div class="title pl-30">
            <h3>
              CSV Upload -
              <a
                href="#"
                (click)="onSampleDownload($event)"
                [ngClass]="{ clicked: isClicked }"
                >(Download CSV Sample)</a
              >
            </h3>
          </div>
          <div class="form-group row">
            <label
              for="uploadFile"
              class="required"
              class="col-sm-12 col-form-label"
              >File Upload<span class="text-danger">*</span></label
            >
            <div class="col-sm-8">
              <div class="file-input">
                <input
                  formControlName="upload_file"
                  type="file"
                  (change)="uploadFile($event)"
                  accept=".csv"
                />
              </div>
            </div>
          </div>

          <div class="btn-group">
            <div class="form-group required row">
              <div class="col-12 d-flex">
                <button
                  type="submit"
                  class="btn-sm btn-primary lg mr-4 sec-col"
                  (click)="onCSVUpload()"
                >
                  Save
                </button>
                <button
                  type="reset"
                  class="btn btn-sm btn-primary lg mr-4"
                  (click)="onFileReset()"
                >
                  Reset
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
