.qodef-page-footer {width: 100%; float: left;
    
    z-index:-1; background:#066bb3; padding: 35px 0px 0px 0px; bottom: 0px;
    -webkit-transition: left .33s cubic-bezier(.694,.0482,.335,1);
    -moz-transition: left .33s cubic-bezier(.694,.0482,.335,1);
    transition: left .33s cubic-bezier(.694,.0482,.335,1);
}

::ng-deep .theme-dark .qodef-page-footer {
    background: #092c3b;
}

.footlogo{ margin:0px 0px; display: table;  }
.footlogo img { width: 115px;    }

.contactlink { position: relative;  width: 25%; float: left; padding-left: 22px; }
.contactlink h5 { color: #fff; font-weight: 500; }

.legallink { position: relative; margin: 15px auto 20px auto; display: table; }
.legallink a{ color: #fff; font-size: 15px; padding: 5px 15px; font-weight: 300; }


.qodef-icon-widget-holder {
    margin: 0 0px;
    font-size: 15px;  font-weight: 300;
    -webkit-transition: color .2s ease-out;
    -moz-transition: color .2s ease-out;
    transition: color .2s ease-out;
    color: #fff; display: table;
    padding: 8px 0px;
}
::ng-deep .theme-dark .contactlink h5 { color: #fff !important;}
::ng-deep .theme-dark .legallink a { color: #fff !important;}
::ng-deep .theme-dark .qodef-icon-widget-holder { color: #fff;}
.cardicons { display: table; margin: 0px; margin-top: 0px;  }
.cardicons a{ float: left; padding: 0px 10px 0px 0px; }
.cardicons a img { width: 45px; }


.shareicons1 {float: left; margin: auto; margin-top: 20px;  }
.shareicons1 a{ float: left; padding: 0px 21px 0px 0px; }
.shareicons1 a img { width: 18px; }

.contactlink1 { position: relative; font-size: 16px; color: #fff; margin: 25px auto 20px auto; display: table; width: 100%; padding-left: 22px; padding-right: 22px;}

.contactlink1 .qodef-icon-widget-holder1 {
    margin: 0 0px;
    font-size: 16px;
    color: #ffffff;
    padding: 17px 0px; 
    border-radius: 30px;
}
.qodef-icon-widget-holder1:hover { color: #bfbfbf; }

.container_foot { width: 850px; margin: auto; }
.qodef-icon-widget-holder:hover { color: #bfbfbf; }
.qodef-page-footer .widget {
    color: #fff;
    margin: 15px auto;
    float: left;
    margin-top: 41px;
    font-size: 16px;
}

.qodef-social-icon-widget-holder span {
    font-size: 18px;
    margin: 0 0px 0 20px; color: #fff; webkit-transition: color .2s ease-out;
    -moz-transition: color .2s ease-out;
    transition: color .2s ease-out;
}

.qodef-social-icon-widget-holder .fa-twitter:hover { color: #00acee; }
.qodef-social-icon-widget-holder .fa-facebook-f:hover { color: #3b5998; }
.qodef-social-icon-widget-holder .fa-instagram:hover { background: -webkit-radial-gradient(33% 100% circle, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
    background: radial-gradient(circle at 33% 100%, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
.qodef-social-icon-widget-holder .fa-linkedin-in:hover { color: #0e76a8; }
.qodef-social-icon-widget-holder .fa-youtube:hover { color: #c4302b; }

.contact-link li {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
}
.copyright { padding: 22px 0px;margin-top: 20px; }
.copyright p { margin-bottom: 0px;}
.contact-link li {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
}
.contact-link h4 { color: #fff; margin-bottom: 5px; font-size: 20px;}


.contact-link li a { color: rgb(219, 219, 219); }

footer .contact-link li {
    margin-bottom: 10px;
}

.contact-link li i {
    margin-right: 10px;
}

/*  */
/* .container{
    min-width: 1000px;
    max-width: 1100px;
} */