.nrm_input,
.src_btn {
    padding: 0.5rem 0.75rem 0.5rem 2.7rem;
    line-height: 1.7;
    height: calc(2em + 0.75rem + 2px);
}
.src_btn {
    padding: 0.5rem 0.75rem;
}

.nrm_input,

.custom-navtabs{ z-index: 99; position: relative;}
.page-header-image {
    position: absolute;
    background-size: cover;
    background-position: center center;
    width: 100%; background-image: url('../../../../../assets/images/header.jpg'); transform: translate3d(0px, 0px, 0px);
    height:500px; left: 0px; right: 0px; top:0px;
}

.h-title { z-index: 99; color: #fff; position: relative;      margin-bottom: 30px;}

.mt180 { margin-top: 80px !important;}


.page-header-image::after{ position: absolute; content: ''; width: 100%; height: 100%; left: 0px;; right: 0px;
    background: rgba(44,44,44,.2);
    background: linear-gradient(0deg, rgb(44 44 44 / 20%), rgb(51 61 84));
}





