<div class="row">
<div class="col-12">

    <div class="card mb-2 mt-2 border rounded p-5">
        <div class="col-12 p-0">
          <div class="failed_text text-center">
            <img src="assets/images/booking_failed.svg" alt="" />
            <h4 class="text-danger mt-3 f-500">Booking Failed!</h4>
            <p class="f-18s">Booking failed due to some problem, please contact our support team.</p>
            <div class="d-flex justify-content-center align-items-center">
                <span class="mr-4 f-16s"><i class="fi-rr-phone-call"></i> +91 909900900</span>
                <span class="f-16s"><i class="fi-rr-envelope-open"></i> TripMartz@gmail.com</span>
            </div>
          </div>

          <div class="mr-auto col-md-12 p-0 mt-4 text-center">
            <a class="btn btn-primary btn-lg f_btn success_btn mr-3">Try Again</a>
            <a class="btn btn-primary btn-lg f_btn light_btn">Back to Home</a>
           </div>

        </div>
    </div>    

</div>
</div>    