<ngb-tabset
  class="tabs-animated tabs-animated-shadow"
  (tabChange)="beforeChange($event)"
  #tabs
>
  <ngb-tab id="create/update_student_course">
    <ng-template ngbTabTitle>
      <span class="">
        <i class="fa fa-book" aria-hidden="true"></i>
        &nbsp;{{ "Create/Update Course" }}
      </span>
    </ng-template>
    <ng-template ngbTabContent>
      <app-create-update-course
        (courseListUpdate)="triggerTab($event)"
      ></app-create-update-course>
    </ng-template>
  </ngb-tab>
  <ngb-tab id="studentCourseList">
    <ng-template ngbTabTitle>
      <span class="">
        <i class="fa fa-list" aria-hidden="true"></i>
        &nbsp;{{ "Course List" }}
      </span>
    </ng-template>
    <ng-template ngbTabContent>
      <app-student-course-list
        (courseListUpdate)="triggerTab($event)"
      ></app-student-course-list>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
