<app-hotel-booking-steps [rooms]="true"></app-hotel-booking-steps>
<div class="my-2">
    <div class="card-body pb-3">
        <div class="row">
            <div class="col-md-8 col-lg-8 pl-0 mobile_pl-15">
                <div class="card p-0 mb-15">
                  <div class="card mb-0 mt-0">
                    <div class="card-body pb-3">
                        <app-hotel-detail-images [hotel]="hotel" [traveller]="traveller" ></app-hotel-detail-images>
                    </div>
                  </div>
                </div>
                <div class="card p-0">
                    <div class="card mb-0 mt-0">
                        <div class="card-body pb-3">
                         <app-hotel-room-detail [hotel]="hotel" [traveller]="traveller" id="roomDetail"></app-hotel-room-detail>
                       </div>
                   </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 mt-0 p-0 mobile_pad-15">
                <div class="card p-3 stickytop">
                <app-hotel-detail [hotel]="hotel" [traveller]="traveller"></app-hotel-detail>
                </div>
            </div>
        </div>
    </div>
    <ngx-loading [show]="loading"
        [config]="{primaryColour: primaryColour, secondaryColour: secondaryColour, tertiaryColour: primaryColour, backdropBorderRadius: '3px',fullScreenBackdrop:true}"
        [template]="loadingTemplate"></ngx-loading>
</div>
