<ngb-tabset class="tabs-animated tabs-animated-shadow" (tabChange)="beforeChange($event)" #tabs>
    <ngb-tab id="create/update_university">
        <ng-template ngbTabTitle>
            <span class="">
                <i class="fa fa-book" aria-hidden="true"></i>
                &nbsp;{{'Create/Update University'}}
            </span>
        </ng-template>
        <ng-template ngbTabContent>
            <app-create-update-university (universityUpdate)="triggerTab($event)" ></app-create-update-university>
        </ng-template>
    </ngb-tab>
    <ngb-tab id="studentsUniversity">
        <ng-template ngbTabTitle>
            <span class="">
                <i class="fa fa-list" aria-hidden="true"></i>
                &nbsp;{{'University List'}}
            </span>
        </ng-template>
        <ng-template ngbTabContent>
           <app-manage-university-list  (universityUpdate)="triggerTab($event)"></app-manage-university-list>
        </ng-template>
    </ngb-tab>
</ngb-tabset>