<table style="font-size:14px;font-family:'Arial';width:100%;margin:0px auto">
    <tbody>
        <tr>
            <td style="background-color:#0A5081;" class="paddinginc">
                
                <table style="width:100%;background:#fff;border-radius:3px 3px 0 0">
                    <tbody>
                        <tr>
                            <td align="center" style="padding:15px 20px;border-radius: 8px 8px 0px 0px;">
                                <img 
                                                                        [src]="loggedInUser.domain_logo || 'assets/images/login-images/l-logo.png'"
                                                                        [style.width]="loggedInUser.domain_logo ? '160px' : '280px'"
                                                                        [style.height]="loggedInUser.domain_logo ? '58px' : 'auto'">
                            
                            </td>
                        </tr>
                        <tr>
                            <td  *ngIf='showAprove' style="padding:20px 20px 0px;font-size:21px; text-align: center;border-radius: 0px 0px 8px 8px;">
                                <img class="failed" src="assets/images/success.png" alt="" />
                                <br/>
                                <h4><strong>Request has been approved successfully.</strong></h4>
                                <br/>
                            </td>
                            <td  *ngIf='!showAprove' style="padding:20px 20px 0px;font-size:21px; text-align: center;border-radius:0px 0px 8px 8px; ">
                                <img class="failed" src="assets/images/failed.png" alt="" />
                                <br/>
                                <h4><strong>Request has been rejected successfully.</strong></h4>
                                <br/>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>