<style>
    ::ng-deep .cdk-overlay-pane {
        height: auto !important;
    }

    .needs-validation {
        padding: 15px !important;
    }

    /* .forgot-password-section{ z-index: 9999;} */
</style>
<div class="main-card mb-0 card forgot-password-section shadow-none">
    <div class="card-body p-0">
        <div class="card-title align-items-center d-flex px-3">
            <div class="d-flex flex-column ml-0">
                <h5 class="title">Forgot Password?</h5>
            </div>
        </div>
        <form [formGroup]="forgotPasswordForm" autocomplete="off" class="needs-validation px-4" novalidate
            (validSubmit)="onSubmit()">
            <div class="position-relative form-group mb-2">
                <label for="forgot_password" class="col-form-label">Email</label>
                <input formControlName="forgot_password" placeholder="Enter Registered Email..." type="text"
                    class="form-control">
                <div *ngIf="errorMessage" class="alert alert-danger mt-2">
                    {{ errorMessage }}
                </div>
                <div *ngIf="successMessage" class="alert alert-success mt-2">
                    {{ successMessage }}
                </div>
            </div>
            <div class="position-relative form-group m-0">
                <div class="update-btn d-block text-center">
                    <button class="btn btn-secondary">Recover Password</button>&nbsp;
                    <button class="btn btn-default" (click)="diloagRef.close()">close</button>
                </div>
            </div>
        </form>
    </div>
</div>
<ngx-loading [show]="loader"
[config]="{primaryColour: '#fff', secondaryColour: '#ccc', tertiaryColour: '#fff', backdropBorderRadius: '3px',fullScreenBackdrop:true}"
[template]="loadingTemplate"></ngx-loading>