<div class = "centered" *ngIf="loading">
    <div class ="blob-1"></div>
    <div class ="blob-2"></div>
  </div>
  <div class="text-center" style="margin-bottom: 10px;" >
    <a [routerLink]="['/cancellation-hotel-queues']">
        <button class="text-white btn btn-sm btn-primary m-1">Back</button>
    </a>
</div>
<table class="table" style="font-size: 14px;font-family: 'Arial';width: 900px;margin: 10px auto; box-shadow: 0 0.46875rem 2.1875rem rgba(0, 0, 0, 0.03), 0 0.9375rem 1.40625rem rgba(0, 0, 0, 0.03), 0 0.25rem 0.53125rem rgba(0, 0, 0, 0.05), 0 0.125rem 0.1875rem rgba(0, 0, 0, 0.03);">
    <tbody>
        <tr>
            <td style="background-color: #F99D1C;padding: 35px 60px 0;">

                <table style="
               width: 100%;
               background: none;
               border-radius: 3px 3px 0 0;
               ">
                    <tbody>
                        <tr>
                            <td align="center" style=" border:none !important;
                        padding: 15px 20px; 
                        "><img style="width: 280px; margin-bottom: 30px;" src="assets/images/login-images/l-logo1.png" alt="image/png"></td>
                        </tr>
                    </tbody>
                </table>

                <table style="
               width: 100%;
               background: #fff;
               border-radius: 3px 3px 0 0;
               ">
                    <tbody>
                        <tr>
                            <td style="
                        padding: 20px 20px 0px; font-size: 23px;
                        "><strong style="
                           font-size: 16px;
                           padding-bottom: 0px;
                           line-height: 30px;
                           ">Hi {{(voucherData?.name) || 'N/A'}},</strong></td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td style="background-color: #f3f4f8;padding: 0 60px 60px;border: none;">
                <table style="
               width: 100%;
               background: #fff;
               padding:0px 15px 0px;
               ">
                    <tbody>
                        <tr>
                            <td style="padding: 15px;width: 100%;vertical-align: top;">
                                <span style="
                           font-size: 16px;
                           padding-bottom: 0px;
                           line-height: 50px;
                           ">Your request for <strong>{{(voucherData?.hotel_name) || 'N/A'}}</strong> cancellation as been sent.</span>

                                
                            </td>

                        </tr>

                        <tr>
                     <td style="padding:15px;">
                        <table style="width:100%;border:1px solid #c6c6c6;border-collapse:collapse;margin-bottom:10px;border-radius: 6px;">
                           <tbody>
                              <tr>
                                 <td colspan="5" style="background: #065081;color:rgb(255,255,255);font-size:14px;font-weight:600;padding:9px 10px; border-radius:0px 0px 0px 0px; text-align:left;text-transform: uppercase;">Request Details
                                 </td>
                              </tr>
                              <tr style="font-size:14px;border-left:1px solid #c6c6c6;background: #e3f1fc;color:#000;font-weight: 600;text-align: left;">
                                 <td style="padding:7px 5px;border-top:1px solid #c6c6c6;border-right:1px solid #c6c6c6;">Request ID</td>
                                 <td style="padding:7px 5px;border-top:1px solid #c6c6c6;border-right:1px solid #c6c6c6;">Request Type</td>
                                 <td style="padding:7px 5px;border-top:1px solid #c6c6c6;border-right:1px solid #c6c6c6;">Requested By</td>
                                 <td style="padding:7px 5px;border-top:1px solid #c6c6c6;border-right:1px solid #c6c6c6;">Reason</td>
                                 
                              </tr>
                              <tr style="font-size:14px;text-align: left;color:#343a40;">
                                 <td style="padding:7px 5px;border-top:1px solid #c6c6c6;border-right:1px solid #c6c6c6">{{(voucherData?.request_id) || 'N/A'}}</td>
                                 <td style="padding:7px 5px;border-top:1px solid #c6c6c6;border-right:1px solid #c6c6c6">{{(voucherData?.request_type) || 'N/A'}}</td>
                                 <td style="padding:7px 5px;border-top:1px solid #c6c6c6;border-right:1px solid #c6c6c6">{{(voucherData?.requested_by) || 'N/A'}}</td>
                                 <td style="padding:7px 5px;border-top:1px solid #c6c6c6;border-right:1px solid #c6c6c6">{{(voucherData?.reason) || 'N/A'}}</td>
                                 
                              </tr>
                           </tbody>
                        </table>
                     </td>
                  </tr>


                        <tr>
                            <td style="padding:15px;width: 100%;vertical-align: top;">
                                <br>

                                <span style="
                           font-size: 16px;
                           ">Please Contact to the support team for further query.</span><br><br>

                                <span style="
                           font-size: 14px;
                           ">Thanks</span>
                            </td>

                        </tr>


                        <tr>
                            <td style="text-align: center;text-align: center;padding-top: 200px;padding: 15px 20px;/* font-size: 15px; *//* line-height: 23px; */" colspan="2"><span>Need help? Ask at </span> <a href="" style="
                        margin-right: 10px;
                        ">support@TripMartz.com</a> </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>

    </tbody>
</table>