label.lbllbl { font-size: 15px !important;}
.squaredThree label { left: 1px !important;}
.collapsebtn {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    border-top: 1px solid #cbcbcb; //chakri styles
    color: #1d1d1d;
    display: block;
    font-size: 16px;
    font-weight: 400;
    overflow: hidden;
    padding: 12px 0;
    position: relative;
    text-align: left;
    width: 100%;
}

.collapsebtn::after {
    content: "\f078";
    color: #1d1d1d;
    font-family: "FontAwesome";
    font-size: 14px;
    line-height: 34px;
    position: absolute;
    right: 2px;
    top: 5px;
    font-weight: 100;
}
.rangebox {
    // padding: 12px;
    background: #ffffff;
    float: left;
    width: 100%;
    // border-radius: 8px;
    // margin-bottom: 10px;
}