// @import '../../result/result.component.scss';

::ng-deep {
    .mat-dialog-actions {
        display  : flex !important;
        flex-flow: row-reverse !important;
    }
}

.flight_sector { font-size: 14px !important; margin-bottom: 10px; color: #3f3f3f;
    font-weight: 400; border-bottom: none !important;}

//chakri styles
.fa-hand-holding-usd {
    color: #252c40 !important;
}
.flight_det_button{ border-radius: 0px 0px 10px 10px; 
    // padding: 10px 0px !important;
}

.flightDetailsBtn {
    // background   : #F1F1F1 !important;
   
    padding      : 4px 2px; color: #3f3f3f;
    margin       : 0px;
    font-size: 12px;font-weight: 400;    bottom:3px;position: absolute;
}

ngb-tabset ul {
    margin-bottom: 0px !important;  margin-bottom: 10px;
}

::ng-deep ngb-tabset .nav-tabs { border-bottom: none !important;}

::ng-deep .nav-tabs .nav-link {
    border: 1px solid #efeeee !important;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    background: #f7f7f7;
    margin-right: 5px;
    border-radius: 5px;
    color: #000;
    font-weight: 400 !important;
    font-size: 13px;
    padding: 10px 9px;
}

::ng-deep .nav-tabs .nav-link.active {
    background: #F99D1C;
    border: none;
    color: #fff;
}

::ng-deep .nav-tabs .nav-link:hover {
    background: #F99D1C;
    border: none;
    color: #fff !important;
}

@media only screen and (max-width: 767px) {
   ::ng-deep .nav-link {
        display: block;
        padding: 5px 10px;
        font-size: 11px;
    }
}
.timesFont{color: #1d1d1d;
    font-size: 16px;
    font-weight: 400;}