<div class="">
    <div
        class="login-header login-max-screen login-max-screen-1260 d-flex justify-content-between w-100 align-items-center">
        <div class="left-side">
            <div class="app-logo"></div>
        </div>
        <!-- <div class="right-side ">
            <div class="align-items-center d-flex icon-with-content"><img class="mobile_width" alt="Phone"
                    src="assets/images/login-images/support-phone.png">
                <div class="d-flex align-items-center">
                    
                    <div class="support-number" *ngIf="domainInfo && domainInfo['phone']">
                        <p class="mb-0">+{{domainInfo['phone']}}</p>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</div>