.nopad{
    padding: 0px !important;
}
.v-sidebar-menu .vsm-icon{
    opacity: unset;
    color: #252c40;
    font-weight: 600;
}
.vsm-title{
    font-weight: 600;
}
.hide{
    display: none;
}
.fal { font-weight: 300 !important;}