th {
    color: #252c40;
}

td, th, table { border:none; padding:0px;}

.move-right {
    position: absolute;
    right   : 22px;
}

.hide { display: none;}

.modal {
    -webkit-transform: translate(0, -50%);
    -o-transform     : translate(0, -50%);
    transform        : translate(0, -50%);
    top              : 60%;
    margin           : 0 auto;
}

::ng-deep .swal2-popup .swal2-radio label {
    margin       : 0 .6em;
    font-size    : 1.125em;
    border       : 1px solid #eaeaea;
    height       : 85px;
    border-radius: 10px;
    padding      : 5px 10px;
    width        : 33.33%;
    box-shadow   : 0px 1px 5px 1px #f0f0f0;
    text-align   : left;
}

::ng-deep .swal2-radio .swal2-label img {
    width  : auto;
    display: table;
    margin : 10px auto;
    height : 40px;
}

.btnStyle {
    border       : none;
    background   : #252c40;
    color        : #fff;
    padding      : 4px 7px;
    border-radius: 5px;
}


.cc-selector input {
    margin            : 0;
    padding           : 0;
    -webkit-appearance: none;
    -moz-appearance   : none;
    appearance        : none;
}

.cc-selector-2 input {
    position: relative;
    z-index : 999;
    top     : 2px;
}
.cc-selector-2 input:active+.drinkcard-cc,
.cc-selector input:active+.drinkcard-cc {
    opacity: .9;
}

.cc-selector-2 input:checked+.drinkcard-cc,
.cc-selector input:checked+.drinkcard-cc {
    -webkit-filter: none;
    -moz-filter   : none;
    filter        : none;
}

.drinkcard-cc {
    cursor            : pointer;
    background-size   : contain;
    background-repeat : no-repeat;
    display           : inline-block;
    width             : 100px;
    height            : 70px;
    -webkit-transition: all 100ms ease-in;
    -moz-transition   : all 100ms ease-in;
    transition        : all 100ms ease-in;
    -webkit-filter    : none;
    -moz-filter       : none;
    filter            : none;
}

.drinkcard-cc:hover {
    -webkit-filter: none;
    -moz-filter   : none;
    filter        : none;
}

/* Extras */
a:visited {
    color: #888
}

a {
    color          : #444;
    text-decoration: none;
}

p {
    margin-bottom: .3em;
}

// * { font-family:monospace; }
.cc-selector-2 .payment_label {
    display: table;
    margin : 0px auto;
}

.cc-selector-2 label {
    display: table;
    margin : auto;
}

span.cc {
    color: #6d84b4
}

.centered{
    width:200px;
    height:300px;
    position:relative;
    top:0%;  bottom: 0px; margin: auto;
    left:0; right: 0px;   background:#f3f2f7;
    filter: blur(10px) contrast(30);
  }
.blob-1,.blob-2{
    width:70px;
    height:70px;
    position:absolute;
    background:#000;
    border-radius:50%;
    top:50%;left:50%; border: none;
    
  }
  .blob-1{
    left:20%;
    animation:osc-l 2.5s ease infinite;
  }
  .blob-2{
    left:80%;
    animation:osc-r 2.5s ease infinite;
    background:#0ff;
  }

  @keyframes osc-l{
    0%{left:0%;}
    50%{left:50%;}
    100%{left:20%;}
  }
  @keyframes osc-r{
    0%{left:80%;}
    50%{left:50%;}
    100%{left:80%;}
  }

  @media print {
    .page-break {page-break-after: always;}
        body * {
          display: none;
        }
       .action_btns{ display: none;} 
    #print_voucher{ display: block; position: absolute;}
        
    .room_list{-webkit-print-color-adjust: exact !important;
        print-color-adjust:exact !important;}
    }
    .htl_room_img {
        -webkit-filter: grayscale(1);
        filter: grayscale(1);
    }
    .htl_adult_img{
        -webkit-filter: grayscale(1);
        filter: grayscale(1);
    }
    strong{font-weight: 600!important;}