<ngb-tabset class="tabs-animated tabs-animated-shadow" (tabChange)="beforeChange($event)" #tabs>
    <ngb-tab id="create/update_course_type">
        <ng-template ngbTabTitle>
            <span class="">
                <i class="fa fa-book" aria-hidden="true"></i>
                &nbsp;{{'Create/Update Course Type'}}
            </span>
        </ng-template>
        <ng-template ngbTabContent>
            <app-create-update-type (courseTypeUpdate)="triggerTab($event)" ></app-create-update-type>
        </ng-template>
    </ngb-tab>
    <ngb-tab id="studentCourseType">
        <ng-template ngbTabTitle>
            <span class="">
                <i class="fa fa-list" aria-hidden="true"></i>
                &nbsp;{{'Course Type List'}}
            </span>
        </ng-template>
        <ng-template ngbTabContent>
            <app-student-course-type-list (courseTypeUpdate)="triggerTab($event)" ></app-student-course-type-list>
        </ng-template>
    </ngb-tab>
</ngb-tabset>