<div class="mb-3 btop">
    <div>
        <div class="card-header-tab card-header">
            <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
                {{'Approval List'}}
            </div>
        </div>
    </div>
    <div>
        <form>
            <div class="table-responsive bg-white">
                <table class="table table-borderless table-striped table-hover" matSort (matSortChange)="sortData($event)">
                    <thead>
                        <tr>
                            <th scope="col" class="text-left text-nowrap" *ngFor="let header of displayColumn;"
                                mat-sort-header="{{header.key}}">
                                {{header.value }} </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf="fetchingData">
                            <td colspan="11">
                                <mat-spinner [diameter]="30" style="margin:0 auto;" mode="indeterminate"></mat-spinner>
                            </td>
                        </tr>
                        <tr *ngIf="noData">
                            <td colspan="11">
                                No Data Found
                            </td>
                        </tr>
                        <tr
                            *ngFor="let data of respData | slice: (page - 1) * pageSize : (page - 1) * pageSize + pageSize; let i=index;">
                            <td class="text-left text-muted">{{i+1}}.</td>
                            <td class="text-left"> {{data['appReferenceNo']}} </td>
                            <td class="text-left"> {{data['invoiceNo']}} </td>
                            <td class="text-left"> 
                                <button class="btn btn-sm btn-primary" (click)="onView(data)">
                                    <i class="fa fa-eye" aria-hidden="true"></i>&nbsp;{{'View'}}
                                </button>
                            </td>
                            <td class="text-left"> 
                                <button class="btn btn-sm btn-primary" (click)="onDownload(data)">
                                    <i class="fa fa-download" aria-hidden="true"></i>&nbsp;{{'Download'}}
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-footer pb-0">
                <div class="d-flex w-100 justify-content-between">
                    <ngb-pagination [collectionSize]="collectionSize" [maxSize]="12" [rotate]="true" [boundaryLinks]="true" [(page)]="page"
                        [pageSize]="pageSize">
                    </ngb-pagination>
                    <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="pageSize">
                        <option [ngValue]="2">2 items per page</option>
                        <option [ngValue]="4">4 items per page</option>
                        <option [ngValue]="6">6 items per page</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
</div>