.htl_img2{ width: 100%; height: 160px; border-radius: 5px; object-fit: cover;}
.view_voucher { background: #065081; border: 1px solid #065081 !important; font-size: 18px; padding: 10px 20px; margin-top: 20px;}
th { border: none !important; padding: 8px 2px !important;
    font-weight: 400;color: #001D46 !important;}
.cusromGrey strong{    color: #000;
        font-size: 16px;
        font-weight: 600;}
.cusromGrey{color: #001d46;
            font-size: 15px;
            font-weight: 400;}
          