label{
    color: #000;
    font-weight: 400 !important;
    font-size: 13px !important;
}
.form-group > .col-md-12 .form-control {
    border-radius: 3px !important;
    padding: 4px 6px;
    height: 48px;
    font-size: 13px;
    border: 1px solid #d6d6d6;
    background: #fff;
}
.fare_msg {
    margin: 15px auto;
    display: table;
    padding: 10px 20px;
}