<div>
    <button type="button" class="btn btn-sm btn-primary lg mr-4" (click)="exportAsExcel()">Export to Excel</button>
    <div class="form-group mb-0 col-sm-3 p-0 float-right search">
        <input class="form-control" type="text" name="Search" [(ngModel)]="searchText" autocomplete="off"
            placeholder="Search">
    </div>
</div>
<div class="mb-3 mt-4 btop">
    <form>
        <div class="table-responsive bg-white">
            <table class="table table-borderless table-striped table-hover" matSort (matSortChange)="sortData($event)">
              
                    <tr >
                        <th scope="col" class="text-left text-nowrap" *ngFor="let header of displayColumn;"
                            mat-sort-header="{{header.key}}">
                            {{header.value }} </th>
                    </tr>
                    <tr *ngIf="noData">
                        <td colspan="11">
                            <mat-spinner [diameter]="30" style="margin:0 auto;" mode="indeterminate"></mat-spinner>
                        </td>
                    </tr>
                    <tbody>
                    <tr *ngFor="let data of respData |filter:searchText | slice: (page - 1) * pageSize : (page - 1) * pageSize + pageSize; let i=index;">
                        <td class="text-left text-muted" style="width: 10%;">{{i+1}}</td>
                        <td class="text-left" style="width: 25%;"> 
                            <button class="btn btn-sm btn-primary" (click)="onCostCenterUpdate(data)">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;{{'Update'}}
                            </button>
                            <button class="btn btn-sm btn-danger ml-2"(click)="onCostCenterDelete(data)">
                                <i class="fa fa-trash" aria-hidden="true"></i>&nbsp;{{'Delete'}}
                            </button>
                        </td>
                        <td class="text-left"> {{data['CityCode']}}</td>
                        <td class="text-left" >{{data['City']}} </td>
                        <td class="text-left">{{data['Tier']}} </td>

                    </tr>
                    </tbody>
                <!-- </tbody> -->
            </table>
        </div>
        <div class="card-footer pb-0">
            <div class="d-flex w-100 justify-content-between">
                <ngb-pagination [collectionSize]="collectionSize" [maxSize]="12" [rotate]="true"
                                [boundaryLinks]="true" [(page)]="page" [pageSize]="pageSize">
                            </ngb-pagination>
                <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="pageSize">
                    <option [ngValue]="10">10 items per page</option>
                    <option [ngValue]="50">50 items per page</option>
                    <option [ngValue]="100">100 items per page</option>
                    <option [ngValue]="500">500 items per page</option>
                </select>
            </div>
        </div>
    </form>
</div>