
<div class="main-card mb-3 card change-password-section p-0">
 
    <div class="card-body p-0">
        <div class="card-title align-items-center d-flex px-3">
            <div class="card-profile ml-2">
                <img [src]="profile_logo" style="width: 67px;
                border-radius: 50% !important;"/>
            </div>
            <div class="d-flex flex-column ml-3">
               
                
                <h5 class="title">Agent Id : {{ currentUser.id }}</h5>
                <span>Agent Email : {{ currentUser.email }}</span>
            </div>
           
            <div class=" ml-auto">
                <h5 class="title cust-fs">Change Password</h5>
            </div>
        
        </div>
      
        <form [formGroup]="changePasswordForm" autocomplete="off" class="needs-validation px-4" novalidate
            (validSubmit)="onSubmit()">
         <div class="row m-0">   
            <div class="col-4 p-0">
                <label for="old_password" class="col-form-label">Email Id</label>
                    <input formControlName="email" placeholder="Enter Email" type="email" class="form-control">
            </div>
            <div class="col-4">
                <label for="old_password" class="col-form-label">Old Password</label>
                    <input formControlName="old_password" placeholder="Old Password" type="password" class="form-control">
                    <div *ngIf="old_password.invalid && (old_password.dirty || old_password.touched)">
                        <div *ngIf="errorMessage" class="alert alert-danger">
                            {{ errorMessage }}
                        </div>
                    </div>
            </div>
            <div class="col-4 p-0">
                <label for="new_password" class="col-form-label">New Password</label>
                    <input formControlName="new_password" placeholder="New Password" type="password" class="form-control">
            </div>
        </div>
            <div class="position-relative form-group mt-3 mb-3">
                <div class="update-btn btncontainer">
                    <button class="btnStyle">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
