.form-group label {
    color: #363636 !important;
    font-size: 14px;
    font-family: 'Poppins';
    }
    input{
        color: #363636 !important;
        font-size: 14px;
        font-family: 'Poppins';
    }
    select{ font-family: 'Poppins';}
    .customBackground{
        background: #D2D2D2 !important;
        color: #082B3A !important;
        font-size: 14px;
        font-family: 'Poppins';
    }
    #agentName,#agentId{
        padding-left: 13px !important;
    }