.form-group label {
    // font-weight: 400 !important;
    // color: #000000;
    color: #363636;
    font-size: 14px;
}
.my-color,.btn{
    font-size: 14px;
}
.form-control { height: auto;}
.form-control[readonly] { padding-left: 15px !important;}