label { color: #000 !important; font-weight: 500 !important; font-size: 16px !important;}

.loginform .form-group > .col-md-12 .form-control {
    border-radius: 3px !important;
    padding: 4px 6px;
    height: 75px;
    font-size: 16px;
    border: 1px solid #d6d6d6;
    background: #fff;
}


.fare_msg {
    margin: 15px auto 0px;
    display: table;
    padding: 14px 36px;
    font-size: 16px;
    background: #252c40;
    opacity: 1;
}