th {
    color: #252c40;
    font-size: 14px;
    font-family: 'poppins';
    }
    td {
        color: #082b3a;
        font-size: 12px;
        font-family: 'poppins';
    }
    select{font-family: 'poppins';}