<div class = "centered" *ngIf="loading">
    <div class ="blob-1"></div>
    <div class ="blob-2"></div>
  </div>
  <div class="text-center" style="margin-bottom: 10px;" >
    <a (click)="goBack()">
        <button class="text-white btn btn-sm btn-primary m-1">Back</button>
    </a>
</div>
<table style="width: 100%;
    max-width: 900px;
    margin: 0% auto;
    border-collapse: collapse;
    background: #f5f5f5;
    border-radius: 15px;
    font-family: arial; box-shadow: 0 0.46875rem 2.1875rem rgba(0, 0, 0, 0.03), 0 0.9375rem 1.40625rem rgba(0, 0, 0, 0.03), 0 0.25rem 0.53125rem rgba(0, 0, 0, 0.05), 0 0.125rem 0.1875rem rgba(0, 0, 0, 0.03);
    font-size: 12px;">
    <tbody>
        <tr>
            <td style="background-color: #F99D1C;padding: 35px 60px 0;">

                <table style="
                           width: 100%;
                           background: none;
                           border-radius: 3px 3px 0 0;
                           ">
                    <tbody>
                        <tr>
                            <td align="center" style="
                                    padding: 15px 20px; 
                                    "><img style="width: 280px; margin-bottom: 30px;"
                                    src="assets/images/login-images/l-logo1.png"
                                    alt="image/png"></td>
                        </tr>
                    </tbody>
                </table>

                <table style="
                           width: 100%;
                           background: #fff;
                           border-radius: 3px 3px 0 0;
                           ">
                    <tbody>
                        <tr>
                            <td style="
                                    padding: 20px 20px 0px; font-size: 23px;
                                    "><strong style="
                                       font-size: 16px;
                                       padding-bottom: 0px;
                                       line-height: 30px;
                                       ">{{voucherData?.PaxDetails[0]?.FirstName}}
                            {{voucherData?.PaxDetails[0]?.LastName}},</strong></td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>

            <td style="background-color: #f3f4f8;padding: 0 60px 60px;border: none;">


                <table style="width:100%; padding: 15px; background: #fff;">
                    <tbody>
                        <tr>
                            <td style="border-collapse:collapse; padding: 15px;">
                                <table style="
                           width: 100%;
                           background: #fff;
                           border-radius: 3px 3px 0 0;
                           ">
                                    <tbody>


                                        <tr>
                                            <td style="padding-bottom:10px;line-height:20px;font-size: 14px;"><span>Your
                                                    request has been submitted successfully. Our team will get back to
                                                    you shortly.<br><br>Kindly note this is only acknowledgement mail
                                                    for your request not the ticket. Requesting you to collect your
                                                    ticket while travelling.</span><br><br></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <table
                                                    style="width:100%;border:1px solid #c6c6c6;border-collapse:collapse;margin-bottom:10px;border-radius: 6px; white-space: nowrap;">
                                                    <tbody>
                                                        <tr>
                                                            <td colspan="7"
                                                                style="background: #065081;color:rgb(255,255,255);font-size:14px;font-weight:600;padding:9px 10px; border-radius:0px 0px 0px 0px; text-align:left;text-transform: uppercase;">
                                                                Request Details
                                                            </td>
                                                        </tr>
                                                        <tr
                                                            style="font-size:14px;border-left:1px solid #c6c6c6;background: #e3f1fc;color:#000;font-weight: 600;text-align: left;">
                                                            <td
                                                                style="padding:7px 5px;border-top:1px solid #c6c6c6;border-right:1px solid #c6c6c6;">
                                                                Request ID</td>
                                                            <td
                                                                style="padding:7px 5px;border-top:1px solid #c6c6c6;border-right:1px solid #c6c6c6;">
                                                                Request Type</td>
                                                            <td
                                                                style="padding:7px 5px;border-top:1px solid #c6c6c6;border-right:1px solid #c6c6c6;">
                                                                Requested By</td>
                                                            <td
                                                                style="padding:7px 5px;border-top:1px solid #c6c6c6;border-right:1px solid #c6c6c6;">
                                                                Request Date</td>
                                                            <td
                                                                style="padding:7px 5px;border-top:1px solid #c6c6c6;border-right:1px solid #c6c6c6;">
                                                                Mobile</td>
                                                            <td
                                                                style="padding:7px 5px;border-top:1px solid #c6c6c6;border-right:1px solid #c6c6c6;">
                                                                Email</td>
                                                            <td
                                                                style="padding:7px 5px;border-top:1px solid #c6c6c6;border-right:1px solid #c6c6c6;">
                                                                Reason for travel</td>
                                                        </tr>
                                                        <tr style="font-size:14px;text-align: left;color:#343a40;">
                                                            <td
                                                                style="padding:7px 5px;border-top:1px solid #c6c6c6;border-right:1px solid #c6c6c6">
                                                                {{(voucherData?.TrainDetails?.AppReference) || 'N/A'}}</td>
                                                            <td
                                                                style="padding:7px 5px;border-top:1px solid #c6c6c6;border-right:1px solid #c6c6c6">
                                                                {{(voucherData?.TrainDetails?.BookingType) || 'N/A'}}</td>
                                                            <td
                                                                style="padding:7px 5px;border-top:1px solid #c6c6c6;border-right:1px solid #c6c6c6">
                                                                {{voucherData?.PaxDetails[0]?.FirstName}}
                                                                {{voucherData?.PaxDetails[0]?.LastName}}</td>
                                                            <td
                                                                style="padding:7px 5px;border-top:1px solid #c6c6c6;border-right:1px solid #c6c6c6">
                                                                {{(voucherData?.TrainDetails?.RequestDate | date: 'dd MMM yyyy') || 'N/A'}}
                                                               </td>
                                                            <td
                                                                style="padding:7px 5px;border-top:1px solid #c6c6c6;border-right:1px solid #c6c6c6">
                                                                {{(voucherData?.PaxDetails[0]?.MobileNo) || 'N/A'}}</td>
                                                            <td
                                                                style="padding:7px 5px;border-top:1px solid #c6c6c6;border-right:1px solid #c6c6c6">
                                                                {{(voucherData?.PaxDetails[0]?.Email) || 'N/A'}}</td>
                                                            <td
                                                                style="padding:7px 5px;border-top:1px solid #c6c6c6;border-right:1px solid #c6c6c6">
                                                                {{(voucherData?.PaxDetails[0]?.Reason) || 'N/A'}}</td>
                                                        </tr>



                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>



                                        <tr>
                                            <td>
                                                <table style="width:100%;border:1px solid #c6c6c6; ">
                                                    <tr
                                                        style="font-size:14px;border-left:1px solid #c6c6c6;background: #e3f1fc;color:#000;font-weight: 600;text-align: left;">
                                                        <td style="padding:7px 5px;border-right:1px solid #c6c6c6;">
                                                            Travel Date </td>
                                                        <td style="padding:7px 5px;border-right:1px solid #c6c6c6;">
                                                            Travel Time </td>
                                                        <td style="padding:7px 5px;border-right:1px solid #c6c6c6;">
                                                            Class</td>
                                                        <td style="padding:7px 5px;border-right:1px solid #c6c6c6;">From
                                                        </td>
                                                        <td style="padding:7px 5px;border-right:1px solid #c6c6c6;">To
                                                        </td>

                                                    </tr>
                                                    <tr
                                                        style="font-size:14px;text-align: left;color:#343a40; background: #fff;">
                                                        <td
                                                            style="padding:7px 5px;border-top:1px solid #c6c6c6;border-right:1px solid #c6c6c6">
                                                            {{voucherData?.TrainDetails?.OnwardDate | date: 'dd MMM yyyy'}} </td>
                                                        <td
                                                            style="padding:7px 5px;border-top:1px solid #c6c6c6;border-right:1px solid #c6c6c6">
                                                            {{voucherData?.TrainDetails?.OnwardTime }} </td>
                                                        <td
                                                            style="padding:7px 5px;border-top:1px solid #c6c6c6;border-right:1px solid #c6c6c6">
                                                            {{voucherData?.TrainDetails?.PreferredClass}}</td>
                                                        <td
                                                            style="padding:7px 5px;border-top:1px solid #c6c6c6;border-right:1px solid #c6c6c6">
                                                            {{voucherData?.TrainDetails?.From}} </td>
                                                        <td
                                                            style="padding:7px 5px;border-top:1px solid #c6c6c6;border-right:1px solid #c6c6c6">
                                                            {{voucherData?.TrainDetails?.To}}</td>

                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td style="line-height: 10px">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <table
                                                    style="width:100%;border:1px solid #c6c6c6;border-collapse:collapse;margin-bottom:10px;line-height: 16px;">
                                                    <tbody>
                                                        <tr>
                                                            <td colspan="7"
                                                                style="background: #065081;color:rgb(255,255,255);font-size:14px;font-weight:600;padding:9px 10px; border-radius:0px 0px 0px 0px; text-align:left;text-transform: uppercase;">
                                                                Guest Details
                                                            </td>
                                                        </tr>
                                                        <tr
                                                            style="font-size:14px;border-left:1px solid #c6c6c6;background: #e3f1fc;color:#000;font-weight: 600;text-align: left;">
                                                            <td
                                                                style="padding:7px 5px;border-top:1px solid #c6c6c6;border-right:1px solid #c6c6c6;">
                                                                Emp Code</td>
                                                            <td
                                                                style="padding:7px 5px;border-top:1px solid #c6c6c6;border-right:1px solid #c6c6c6;">
                                                                Emp Name</td>
                                                            <td
                                                                style="padding:7px 5px;border-top:1px solid #c6c6c6;border-right:1px solid #c6c6c6;">
                                                                Email</td>
                                                            <td
                                                                style="padding:7px 5px;border-top:1px solid #c6c6c6;border-right:1px solid #c6c6c6;">
                                                                Mobile</td>
                                                            <td
                                                                style="padding:7px 5px;border-top:1px solid #c6c6c6;border-right:1px solid #c6c6c6;">
                                                                Band</td>
                                                            <td
                                                                style="padding:7px 5px;border-top:1px solid #c6c6c6;border-right:1px solid #c6c6c6;">
                                                                Age</td>
                                                            <td
                                                                style="padding:7px 5px;border-top:1px solid #c6c6c6;border-right:1px solid #c6c6c6;">
                                                                Gender</td>
                                                        </tr>
                                                        <tr style="font-size:14px;text-align: left;" *ngFor="let paxDetails of voucherData?.PaxDetails">
                                                            <td
                                                                style="padding:7px 5px;border-top:1px solid #c6c6c6;border-right:1px solid #c6c6c6;">
                                                                {{paxDetails?.EmployeeId}}</td>
                                                            <td
                                                                style="padding:7px 5px;border-top:1px solid #c6c6c6;border-right:1px solid #c6c6c6;">
                                                                {{paxDetails?.FirstName}}
                                                                {{paxDetails?.LastName}}</td>
                                                            <td
                                                                style="padding:7px 5px;border-top:1px solid #c6c6c6;border-right:1px solid #c6c6c6;">
                                                                {{paxDetails?.Email}}</td>
                                                            <td
                                                                style="padding:7px 5px;border-top:1px solid #c6c6c6;border-right:1px solid #c6c6c6;">
                                                                {{paxDetails?.MobileNo}}</td>
                                                            <td
                                                                style="padding:7px 5px;border-top:1px solid #c6c6c6;border-right:1px solid #c6c6c6;">
                                                                {{paxDetails?.EmployeeBand}}</td>
                                                            <td
                                                                style="padding:7px 5px;border-top:1px solid #c6c6c6;border-right:1px solid #c6c6c6;">
                                                                {{paxDetails?.Age}}</td>
                                                            <td
                                                                style="padding:7px 5px;border-top:1px solid #c6c6c6;border-right:1px solid #c6c6c6;">
                                                                {{paxDetails?.Gender}}</td>
                                                        </tr>


                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="line-height: 10px">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <table
                                                    style="width:100%;border:1px solid #c6c6c6;border-collapse:collapse;margin-bottom:10px; line-height: 16px;">
                                                    <tbody>
                                                        <tr style="border:1px solid #c6c6c6">
                                                            <td colspan="4"
                                                                style="background: #065081;color:rgb(255,255,255);font-size:14px;font-weight:600;padding:9px 10px; border-radius:0px 0px 0px 0px; text-align:left;text-transform: uppercase;">
                                                                Remarks
                                                            </td>
                                                        </tr>
                                                        <tr style="font-size:13px">
                                                            <td colspan="4"
                                                                style="padding:7px 5px;border-top:1px solid #c6c6c6;border-right:1px solid #c6c6c6;width:25%">
                                                                {{voucherData?.PersonalDetails?.Remarks}}&nbsp;</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>


                                        <tr>
                                            <td style="line-height: 10px">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td style="font-size:12px;padding-bottom:5px">
                                                <strong>For Booking Support : </strong> 022 4141 1909 /
                                               sachin@HyperMilesholidays.com
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>