.card {
    border-radius: 8px;
}

.stickytop { position: sticky; top: 100px;}
.mb-15{margin-bottom: 15px;}
.border{border:1px solid #d9d9d9;}
.booknowroom {    background: #065081;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    border: 1px solid #065081 !important;
    border-radius: 6px;
    width: 100%;
    height: 42px;
    padding: 5px 10px; }