<div class="">
    <div class="">
        <ngb-tabset class="tabs-animated tabs-animated-shadow" (tabChange)="beforeChange(false)" #tabs
            [activeId]="activeIdString">
            <ngb-tab id="add_update_cab_queue" [disabled]="!enableUpdate">
                <ng-template ngbTabTitle>
                    <span><i class="fa fa-edit"></i> &nbsp;Update Cab Booking Details	
                    </span>
                </ng-template>
                <ng-template ngbTabContent>
                    <app-update-cab-queues [cabUpdateData]="cabUpdateData" (back)="showList(false)"></app-update-cab-queues>
                </ng-template>
            </ngb-tab>
            <ngb-tab id="cab_queues">
                <ng-template ngbTabTitle>
                    <span><i class="fa fa-users"></i> &nbsp; Cab Queues</span>
                </ng-template>
                <ng-template ngbTabContent>
                    <app-cab-queues (cabQueueUpdate)="triggerTab($event)"></app-cab-queues>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>
    </div>
</div>