<div>
    <button type="button" class="btn btn-sm btn-primary lg mr-4 sec-col" (click)="exportAsExcel()">Export to Excel</button>
    <div class="form-group mb-0 col-sm-3 p-0 float-right search">
        <input class="form-control" type="text" name="Search" [(ngModel)]="searchText" autocomplete="off"
            placeholder="Search">
    </div>
</div>
<div class="mb-3 mt-3 btop">
    <form>
        <div class="table-responsive bg-white">
            <table class="table table-borderless table-striped table-hover" matSort (matSortChange)="sortData($event)">
                <thead>
                    <tr>
                        <th scope="col" class="text-left text-nowrap" *ngFor="let header of displayColumn;"
                            mat-sort-header="{{header.key}}">
                            {{header.value }} </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="noData">
                        <td colspan="11">
                            <mat-spinner [diameter]="30" style="margin:0 auto;" mode="indeterminate"></mat-spinner>
                        </td>
                    </tr>
                    <tr
                        *ngFor="let data of respData | filter:searchText | slice: (page - 1) * pageSize : (page - 1) * pageSize + pageSize; let i=index;">
                        <td class="text-left text-muted">{{i+1}}.</td>
                        <td class="text-left"> 
                            <button class="btn btn-sm btn-primary" (click)="onEmployeeUpdate(data)">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;{{'Update'}}
                            </button>
                            <button class="btn btn-sm btn-danger ml-2" (click)="onEmployeeDelete(data)">
                                <i class="fa fa-trash" aria-hidden="true"></i>&nbsp;{{'Delete'}}
                            </button>
                        </td>
                        <td class="text-left"> {{data['employeeId']}} </td>
                        <td class="text-left">{{title(data['title'])}} {{data['first_name']}} {{data['last_name']}} </td>
                        <td class="text-left"> {{data['position_name']}} </td>
                        <td class="text-left"> {{data['department_name']}} </td>
                        <td class="text-left"> {{data['email']}} </td>
                        <td class="text-left"> {{data['phone']}} </td>
                        <td class="text-left" *ngIf="loggedInUser?.auth_role_id==7"> {{data['approvar'] || 'N/A'}} </td>
                        <td class="text-left">
                            <select class="w-100 m-auto cust-select"
                            (change)='onStatusChange(data)'>
                            <option [selected]="data['status'] == 1">Active
                            </option>
                            <option [selected]="data['status'] == 0">Inactive
                            </option>
                        </select>
                        </td>
                        
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="card-footer pb-0">
            <div class="d-flex w-100 justify-content-between">
                <ngb-pagination [collectionSize]="collectionSize" [maxSize]="12" [rotate]="true" [boundaryLinks]="true" [(page)]="page"
                    [pageSize]="pageSize">
                </ngb-pagination>
                <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="pageSize">
                    <option [ngValue]="10">10 items per page</option>
                    <option [ngValue]="50">50 items per page</option>
                    <option [ngValue]="100">100 items per page</option>
                    <option [ngValue]="500">500 items per page</option>
                </select>
            </div>
        </div>
    </form>
</div>