    <div class="h-100">
        <div class="no-gutters">
            <app-home-page-header></app-home-page-header>
            <div class="login-banner-slider w-100 login-max-screen">
                <div class="banner-bg">
                    <div class="d-flex">
                        <div class="banner-slider">
                            <ngx-slick-carousel class="slick-slider slick-dotted" #slickModal="slick-carousel"
                                [config]="slideConfig2">
                                <div ngxSlickItem *ngFor="let slidertext of imageData">
                                    <div class="banner-section">
                                        <img src="{{sliderUri+slidertext.image}}">
                                      <div class="cms_title">  
                                        <h3>{{slidertext.title}}</h3>
                                        <p>
                                            {{slidertext.description}}
                                        </p>
                                        </div>
                                    </div>
                                </div>
                            </ngx-slick-carousel>
                        </div>
                        <div class="login-form">
                            <div class="login-container">
                                <div class="login-title">
                                    <alert></alert>
                                </div>
                                <div class="login-sub-header">
                                    <h3>Reset Password</h3>
                                    <img src="assets/images/login-images/user-circle.svg" alt="logo" />
                                </div>
                                <div class="login-content">
                                    <form [formGroup]="loginForm" (ngSubmit)="submit(loginForm)">
                                        <mat-form-field>
                                            <mat-label>Password</mat-label>
                                            <input matInput
                                             formControlName="password"
                                                type="password"
                                                placeholder="Password">
                                                <mat-error *ngIf="loginForm.hasError('required', 'password')">
                                                    Please enter your New password
                                                </mat-error>
                                                <mat-error *ngIf="loginForm.hasError('minlength', 'password')">
                                                    Password should be minimum 8 characters
                                                </mat-error>
                                        </mat-form-field>
                                        <mat-form-field>
                                            <mat-label>Confirm Password</mat-label>
                                            <input matInput
                                             formControlName="confirmPassword"
                                                type="password"
                                                placeholder="Confirm Password"
                                                [errorStateMatcher]="matcher">
                                                <mat-error *ngIf="loginForm.hasError('notSame')">
                                                    Passwords do not match
                                                </mat-error> 
                                        </mat-form-field>
                                        <div class="login-button">
                                            <button type="submit">Submit</button>
                                        </div>
                                        <div class="login-footer">
                                            <hr>
                                            <div class="forgot-password">
                                                <a class="c-pointer" href="#">Login</a>
                                            </div>
                                            <div class="f-12 font-weight-light mt-2 text-danger"> {{errorMessage}}</div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- login - banner slider - end -->
            <!-- airline partners start -->
            <div class="login-brand-section login-max-screen w-100 pt-5">
                <div class="title mx-screen-1186">
                    <h2>Airline Partners</h2>
                </div>
                <div class="brand-section mx-screen-1186">
                    <ngx-slick-carousel class="slick-slider slick-dotted" #slickModal="slick-carousel"
                        [config]="airlineSlideConfig">
                        <div ngxSlickItem *ngFor="let slide of airlinePartners">
                            <div class="banner-section">
                                <img src="{{ sliderUri+slide.logo }}" alt="brands"
                                    style="margin: 0 auto; max-width: 190px !important; width: auto !important;">
                            </div>
                        </div>
                    </ngx-slick-carousel>
                </div>
            </div>
            <!-- Hotel Partners start -->
            <div class="login-brand-section login-max-screen w-100">
                <div class="title mx-screen-1186">
                    <h2>Hotel Partners</h2>
                </div>
                <div class="brand-section mx-screen-1186">
                    <ngx-slick-carousel class="slick-slider slick-dotted" #slickModal="slick-carousel"
                        [config]="hotelSBrandslideConfig">
                        <div ngxSlickItem *ngFor="let slide of hotelPartners">
                            <div class="banner-section">
                                <img src="{{ sliderUri+slide.logo }}" alt="brands"
                                    style="height:80px;margin: 0 auto; max-width: 140px !important; width: auto !important;">
                            </div>
                        </div>
                    </ngx-slick-carousel>
                </div>
            </div>
            <!-- Hotel Partners end -->
            <!-- services start -->
            <div class="login-brand-section login-max-screen w-100 p-t-35">
                <div class="login-max-screen">
                    <div class="title mx-screen-1186">
                        <h2>Services</h2>
                    </div>
                    <div class="login-service-section mx-screen-1186">
                        <div class="sevice-cards">
                            <div class="card">
                                <div class="card-icon">
                                    <img src="assets/images/login-images/Group 84.png" alt="service" />
                                </div>
                                <div class="card-content-section">
                                    <div class="card-title">
                                        <h3>XML/API</h3>
                                    </div>
                                    <div class="card-content">
                                        <p>Are you looking to build a travel website or app that provides users with up-to-date travel information, flight prices, hotel availability, and more? If so, you'll need a reliable travel API to power your platform.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-icon">
                                    <img src="assets/images/login-images/Group 85.png" alt="service" />
                                </div>
                                <div class="card-content-section">
                                    <div class="card-title">
                                        <h3>Whitelable</h3>
                                    </div>
                                    <div class="card-content">
                                        <p>Our Whitelable solution is a fully customizable travel booking platform that can be branded with your business's logo and colors. It allows you to offer your customers a wide range of travel products, including flights, hotels, car rentals, and activities, all in one place.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-icon">
                                    <img src="assets/images/login-images/Group 86.png" alt="service" />
                                </div>
                                <div class="card-content-section">
                                    <div class="card-title">
                                        <h3>Travel software</h3>
                                    </div>
                                    <div class="card-content">
                                        <p>Our travel booking system allows traveler's to search and book flights, hotels, car rentals, and other travel products. These systems can be used by travel agents, tour operators, and other travel businesses to manage bookings for their customers.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- services end -->
            <!-- Presence start -->
            <div class="presence-layer w-100">
                <div class="layer-bg" [ngStyle]="{'background-image': 'url(' + layerBg + ')'}"></div>
                <div class="login-brand-section login-max-screen w-100 pt-0">
                    <div class="title mx-screen-1186 mb-3">
                        <h2 class="mb-1">Presence</h2>
                        <h4 class="sub-title">Our Coverage area</h4>
                    </div>
                    <div class="brand-section banner-section-with-text mx-screen-1186">
                        <ngx-slick-carousel class="slick-slider slick-dotted" #slickModal="slick-carousel"
                            [config]="PresenceSlideConfig">
                            <div ngxSlickItem *ngFor="let slide of PresenceSlides">
                                <div class="banner-section text-center">
                                    <img src="{{ slide.img }}" alt="brands" class="mb-4">
                                    <p>{{slide.title}}</p>
                                </div>
                            </div>
                        </ngx-slick-carousel>
                    </div>
                </div>
            </div>
            <!-- Presence end -->
            <!-- Signup section start -->
            <div class="login-max-screen w-100 max-screen-1130">
                <div class="signup-section mx-screen-1186">
                    <div class="hr-line"></div>
                </div>
            </div>
            <!-- Signup section end -->
            <!-- mobile section start-->
            <div class="mobile-app"> 
                <div class="login-max-screen w-100 max-screen-1130">
                <img src="assets/images/mobile_app.png">
                </div>
              </div>  
            <!-- mobile section end-->
            <!-- Footer section start-->
            <app-home-page-footer></app-home-page-footer>
            <!-- Footer section end-->
        </div>
    </div>